*{
    margin: 0;
    font-family:sans-serif;
    /* [MuseoSansCyrl */
}

.background{
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    background-size: auto;
    height: 100vh ;
}

.container{
    max-width: 1170px;
    margin: auto;
}

body{
    background-color: #1F1F1F;
}

.content{
    display: flex;
    justify-content: space-between;
}

.heading{
    display: flex;
    flex-direction: column;
    padding-top: 120px;
}

.profit{
    display: flex;

}

.title {
    font-size: 56px;
    font-weight: bold;
    -webkit-text-fill-color: transparent;
}

.title-small{
    font-size: 24px;
    -webkit-text-fill-color: transparent;
}

.gradient-red{
    background: #FFFFFF;
    background: -webkit-linear-gradient(left, #FFFFFF, #FF4E01);
    background: -moz-linear-gradient(left, #FFFFFF, #FF4E01);
    background: linear-gradient(to right, #FFFFFF, #FF4E01);
    -webkit-background-clip: text;
}

.btn{
    background: rgba(0, 0, 0, 0);
    border: 1px solid;
    border-image: 
        linear-gradient(170deg, rgba(2,0,36,1) 0%, #00589F 50%, rgba(2,0,36,1) 100%)
        1 /                  
        1px 1px 1px 1px /    
        1px 1px 1px 1px       
        round;
    color: #818488;
    cursor: pointer;
    margin: 1px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    width: 10rem;
}

.btn:hover{
    transition: all .3s ease;
    background: rgba(255, 255, 255, 0.04);
}

.profit{
    display: grid;
    grid: repeat(2, 13rem) / auto-flow 13rem;
    -webkit-text-fill-color: transparent;
}

.gradient-grey{
    background: #FFFFFF;
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgb(161, 161, 161) 100%);
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgb(161, 161, 161) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgb(161, 161, 161) 100%);
    -webkit-background-clip: text;
}

.profit-element{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
    overflow: hidden;
}

.shadow-for-top-right{
    background: linear-gradient(45deg, rgba(255,255,255,0.05) 10%, rgba(0,0,0,0) 50%);
}
.shadow-for-top-left{
    background: linear-gradient(315deg, rgba(255,255,255,0.05) 10%, rgba(0,0,0,0) 50%);
}
.shadow-for-bottom-right{
    background: linear-gradient(135deg, rgba(255,255,255,0.05) 10%, rgba(0,0,0,0) 50%);
}
.shadow-for-bottom-left{
    background: linear-gradient(225deg, rgba(255,255,255,0.05) 10%, rgba(0,0,0,0) 50%);
}

.shadow-for-top-right:hover{
    background: linear-gradient(45deg, rgba(255,255,255,0.1) 10%, rgba(0,0,0,0) 50%);
    border-image: 
        linear-gradient(to top right, #515860 10%, rgba(2,0,36,0) 50%)
        1 /                  
        1px 1px 1px 1px      
        round;
    cursor: pointer;
}
.shadow-for-top-left:hover{
    background: linear-gradient(315deg, rgba(255,255,255,0.1) 10%, rgba(0,0,0,0) 50%);
    border-image: 
        linear-gradient(to top left, #515860 10%, rgba(2,0,36,0) 50%)
        1 /                  
        1px 1px 1px 1px      
        round;
    cursor: pointer;
}
.shadow-for-bottom-right:hover{
    background: linear-gradient(135deg, rgba(255,255,255,0.1) 10%, rgba(0,0,0,0) 50%);
    border-image: 
        linear-gradient(to bottom right, #515860 10%, rgba(2,0,36,0) 50%)
        1 /                  
        1px 1px 1px 1px      
        round;
    cursor: pointer;
}
.shadow-for-bottom-left:hover{
    background: linear-gradient(225deg, rgba(255,255,255,0.1) 10%, rgba(0,0,0,0) 50%);
    border-image: 
        linear-gradient(to bottom left, #515860 10%, rgba(2,0,36,0) 50%)
        1 /                  
        1px 1px 1px 1px      
        round;
    cursor: pointer;
}



.profit-element:hover{
    transition: all .3s ease;
}

.profit-text{
    font-size: 16px;
}

.profit-title{
    font-size: 72px;
    font-weight: bold;
}
