*{
    margin: 0;
    font-family:sans-serif;
    /* [MuseoSansCyrl */
}

.background{
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    background-size: auto;
    height: 100vh ;
}

.container{
    max-width: 1170px;
    margin: auto;
}

body{
    background-color: #1F1F1F;
}

.content{
    display: flex;
    justify-content: space-between;
}

.heading{
    display: flex;
    flex-direction: column;
    padding-top: 120px;
}

.profit{
    display: flex;

}

.title {
    font-size: 56px;
    font-weight: bold;
    -webkit-text-fill-color: transparent;
}

.title-small{
    font-size: 24px;
    -webkit-text-fill-color: transparent;
}

.gradient-red{
    background: #FFFFFF;
    background: -webkit-linear-gradient(left, #FFFFFF, #FF4E01);
    background: -moz-linear-gradient(left, #FFFFFF, #FF4E01);
    background: linear-gradient(to right, #FFFFFF, #FF4E01);
    -webkit-background-clip: text;
}

.btn{
    background: rgba(0, 0, 0, 0);
    border: 1px solid;
    border-image: 
        linear-gradient(170deg, rgba(2,0,36,1) 0%, #00589F 50%, rgba(2,0,36,1) 100%)
        1 /                  
        1px 1px 1px 1px /    
        1px 1px 1px 1px       
        round;
    color: #818488;
    cursor: pointer;
    margin: 1px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    width: 10rem;
}

.btn:hover{
    transition: all .3s ease;
    background: rgba(255, 255, 255, 0.04);
}